/*PAGE RESTAURANT*/

/*HEADER*/
.restauContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.restauImg {
    object-fit: cover;
    max-height: 250px;
    width: 100%;  
    max-width: 100%;
}

/*MENU*/
.menuContainer {
    background-color: $color-backgrey;
    border-radius: 20px 20px 0px 0px;
}
.menu {
    border-radius: 20px 20px 0px 0px;
    background-color: $color-backgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

        &_title {
            font-family: "Shrikhand", cursive;
                @include margerNone;
        }

        &_plate {
            @include margerNone;
            font-weight: 800;
        }

        &_subPlate {
            @include margerNone;
            color: $color-txt;
        }

        &_price {
            font-weight: bold;
        }
}

.cards {
    @include padding;
    @include shadowbox;
    background-color: #fff;
    width: 80%;
    display: grid;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

        &_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}
