/*dégradé bouton*/
@mixin gradient-color {
    background-image: linear-gradient($color-secondary, $color-primary);
}

@mixin margerNone {
    margin: 0px;
}

@mixin padding {
    padding: 20px;
}

@mixin shadowbox {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}